manifest {
    name = 'Imputation Workflow'
    author = 'Olivier Labayle'
    homePage = 'https://github.com/olivierlabayle/nf-topmed-imputation'
    description = 'Imputes genotypes using TOPMed'
    mainScript = 'main.nf'
    nextflowVersion = '>=25.04'
    version = '0.1.0'
}

process {
    memory = { 8.GB * task.attempt }
    time = { 48.hour }
    cpus = 1

    withLabel: 'multithreaded' {
        cpus = 4
    }

    withLabel: 'bigmem' {
        memory = { 16.GB * task.attempt }
    }

    withLabel: 'hyperthreaded' {
        cpus = 8
    }
}

profiles {
    docker {
        includeConfig 'conf/docker.config'
    }
    singularity {
        includeConfig 'conf/singularity.config'
    }
    eddie {
        includeConfig 'conf/eddie.config'
    }
}
