manifest {
    name = 'Imputation Workflow'
    author = 'Olivier Labayle'
    homePage = 'https://github.com/olivierlabayle/nf-topmed-imputation'
    description = 'Imputes genotypes using TOPMed'
    mainScript = 'main.nf'
    nextflowVersion = '>=25.04'
    version = '0.1.0'
}

process {
    memory = { 8.GB * task.attempt }
    time = { 48.hour }
    cpus = 1

    withLabel: 'multithreaded' {
        cpus = 4
    }

    withLabel: 'bigmem' {
        memory = { 16.GB * task.attempt }
    }

    withLabel: 'hyperthreaded' {
        cpus = 8
    }
}

params {
    N_SAMPLES_PER_IMPUTATION_JOBS = 15000
    TOPMED_MAX_PARALLEL_JOBS = 3
    TOPMED_JOBS_LIST = "NO_TOPMED_JOBS"
    IMPUTATION_R2_FILTER = 0.9
    TOPMED_REFRESH_RATE = 180
    TOPMED_ENCRYPTION_PASSWORD = "password"
    PUBLISH_DIR = "results"
}
profiles {
    docker {
        includeConfig 'conf/docker.config'
    }
    singularity {
        includeConfig 'conf/singularity.config'
    }
    eddie {
        includeConfig 'conf/eddie.config'
    }
}
