params {
    // Imputation specific parameters
    GENOTYPES_PREFIX = "PREFIX_TO_GENOTYPES"
    TOPMED_TOKEN_FILE = "topmed-api-token" // The path to your TOPMed API token
    TOPMED_ENCRYPTION_PASSWORD = "A great password" // Your encryption password
    // Optional path topmed job-ids list for the DownloadImputed workflow, e.g.: TOPMED_JOBS_LIST = ["job-20250405-193053-285", "job-20250405-193053-303"] 
    N_SAMPLES_PER_IMPUTATION_JOBS = 15000 // Number of samples per imputation job, we are only allowed to submit 20k samples per job and 3 jobs at a time, try to maximize here
}